# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://jvzlgnxfbeobbpbhipak.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp2emxnbnhmYmVvYmJwYmhpcGFrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI3NDYyMjksImV4cCI6MjA5ODMyMjIyOX0.QP2JMi0-jcaJewjIhAjJTGSoTp_3mqkkn3pOxYmp6ts
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp2emxnbnhmYmVvYmJwYmhpcGFrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mjc0NjIyOSwiZXhwIjoyMDk4MzIyMjI5fQ.bHI0v-5epygGfflAmG8gmtYPIXFXXgsCy1YaR0pZYFE

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME=World Cup Predictor

# Admin email (used for admin checks)
ADMIN_EMAIL=a.alkathere11@gmail.com
